body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#e6ecf5,#f8fbff);
text-align:center;
direction:rtl;
}

.container{
padding:40px 20px;
}

.logo{
width:120px;
margin-bottom:20px;
}

h1{
font-size:32px;
color:#0f172a;
margin:10px 0;
}

.desc{
color:#64748b;
margin-bottom:30px;
}

/* الأزرار */
.buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:30px;
}

.buttons a{
padding:15px 25px;
border-radius:15px;
text-decoration:none;
color:white;
font-weight:bold;
min-width:120px;
display:inline-block;
}

.yt{
background:#ff0000;
}

.tt{
background:#25c6c6;
}

.mail{
background:#3b82f6;
}

/* بوكس المحتوى */
.content-box{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
max-width:500px;
margin:0 auto 20px;
}

.content-box h2{
margin-bottom:10px;
}

/* التنبيه */
.notice{
background:#e0ecff;
color:#1e3a8a;
padding:15px;
border-radius:15px;
max-width:500px;
margin:auto;
}
